@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Assignment Page</h1>
    <p>This is the page for you to take the assignnment and get the point right away</p>
    <p>Instruction: We got 3 role for user in this page:</p>
    <ul>
        <li>Student: Can only access Your-Test to review the lesson and get the point right away</li>
        <li>Teacher: Can access Your-Test and access Create-Assignments to create new assignment for Student</li>
        <li>Admin: Can create new User with 3 different role ( Admin, Teacher, Student)</li>
    </ul>
</div>
