@{
    ViewData["Title"] = "Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is the privacy of this page</p>
<p>This is simple page for you to take the assignment from the teacher and self evaluate what you have learnt </p>
<p>Please dont use any tool or support from the internet. You guy should do the test by yourself </p>
